/* Set universal font */
* {
    font-family: 'times';
}

/* Move timer element to the right of the header */
header {
    display:flex;
    justify-content: space-between;
}

/* Put a margin around the start button */
button {
    margin: 1%;
}

/* Use flex to position the main content on the webpage in the horizontal center */
.main-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 30em;
}

/* Shorten the width for the original description and the height */
.start-container {
    width: 25em;
    height: 25em;
}

/* Centers the text in the original content and the answer options on the page */
#start-page {
    text-align: center;
}

/* Styles the original description text and space around text */
#start-description {
    margin: 0% auto;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    padding: 0%;
    width: 110%;
}

/* Styles the start button on the original page */
#start-button {
   margin: 2em;
   width: 5em;
   height: 2em;
   font-size: 20px;
   background: #100767;
   color: white;
   border-radius: 25%;
}

/* Styles the heading for the start page and questions on next pages */
#start-title {
    font-size: 250%;
    margin: 0%;
}